<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>旅游陪伴你.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>85545DE91C3504D8004228BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85545E021C3504D8004228BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85545E0D1C3504D8004228BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
